<!DOCTYPE html>
<html>
    <head>
        <title>obDash</title>
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='obdash.css') }}">
        {% block css %}
        {% endblock %}

        <script type="text/javascript"
            src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}">
        </script>
        <script type="text/javascript"
            src="{{ url_for('static', filename='socket.io.min.js') }}">
        </script>
        <script type="text/javascript"
            src="{{ url_for('static', filename='justgage.1.0.1.min.js') }}">
        </script>
        <script type="text/javascript"
            src="{{ url_for('static', filename='raphael.2.1.0.min.js') }}">
        </script>
        <script type="text/javascript"
            src="{{ url_for('static', filename='obdash.js') }}">
        </script>
        {% block javascript %}
        {% endblock %}
    </head>
    <body>
        <audio id="audio_beep">
            <source type="audio/mp3"
                src="{{ url_for('static', filename='beep.mp3') }}" />
        </audio>
        <div class="header">
            <a href="/">Apps</a>
        </div>
        <hr />
        {% block content %}
        {% endblock %}
    </body>
</html>