{% extends 'base.html' %}

{% block javascript %}

    <script type="text/javascript">
        // TODO: set time?!?!
    </script>

{% endblock %}

{% block content %}

<h3>Choose an app</h3>

<div class="apps">
    {% for app in apps %}
        <div class="app">
            <a href="/app/{{ app }}">
                <img class="icon" src="/app/{{ app }}/resources/icon.png" />
                <span class="title">{{ app }}</span>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
