{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="script.js"></script>

{% endblock %}

{% block app_title %} // Heat soak monitor{% endblock %}

{% block content %}

<div style="clear:both">
</div>
<div class="dial big" id="dial_heatsoak" style="float: left;"></div>
<div style="float:left;">
    <div class="dial" id="dial_iat"></div>
    <div class="dial" id="dial_aat"></div>
<div>
</div>

{% endblock %}
