{% extends 'base.html' %}

{% block javascript %}

    <script type="text/javascript">

        $(document).ready(function(){

            /*
                Get the time data
            */

            // Read the time as an epoc
            $.get('/time', function(json) {
                // Render the device epoc
                $('#db_dev_epoch').text(json.dev_epoch);

                // Render the pretty device date
                var d = new Date(0);
                d.setUTCSeconds(json.dev_epoch);
                $('#db_date_pretty').text(d);

                // Render the offset
                var offset = json.data_offset;
                if (offset === null) {
                    $('#db_data_offset').append(
                        '<span>NOT SET</span>'
                    ).append(
                        $('<button>Set</button>').click(function() {
                            obdash.setTime();
                            obdash.refresh(250);
                        })
                    );
                }
                else {
                    $('#db_data_offset').text(offset);
                }

                // Render the data epoch
                $('#db_data_epoch').text(json.data_epoch);

                // Render the pretty data date
                if (json.data_epoch !== null) {
                    var d = new Date(0);
                    d.setUTCSeconds(json.data_epoch);
                    $('#db_data_pretty').text(d);
                }
            });

            /*
                Talk to the ELM327
            */

            // Register a set of listeners for replies
            obdash.on([0x01, 0x00], function(data) {
                console.log('block 1:', data);
            });
            obdash.on([0x01, 0x20], function(data) {
                console.log('block 2:', data);
            });
            obdash.on([0x01, 0x40], function(data) {
                console.log('block 3:', data);
            });
            obdash.on([0x01, 0x60], function(data) {
                console.log('block 4:', data);
            });

            // Now register some data to be informed of new values for
            obdash.polled([
                [0x01, 0x00], // The list of PIDs supported in block 1
                [0x01, 0x20], // The list of PIDs supported in block 2
                [0x01, 0x40], // The list of PIDs supported in block 3
                [0x01, 0x60], // The list of PIDs supported in block 4
            ]);
        });
    </script>

{% endblock %}

{% block content %}

<h3>Debug</h3>
<h4>Time</h4>
<table border="1">
    <tr>
        <td>
            Device epoch
        </td>
        <td id="db_dev_epoch"></td>
    </tr>
    <tr>
        <td>
            Device date
        </td>
        <td id="db_date_pretty"></td>
    </tr>
    <tr>
        <td>
            Device data offset
        </td>
        <td id="db_data_offset"></td>
    </tr>
    <tr>
        <td>
            Data epoch
        </td>
        <td id="db_data_epoch"></td>
    </tr>
    <tr>
        <td>
            Data date
        </td>
        <td id="db_data_pretty"></td>
    </tr>
</table>

<h4>ELM327</h4>
<table border="1">
    <tr>
        <td>
            Detected?
        </td>
        <td id="db_327_detected"></td>
    </tr>
</table>

{% endblock %}
